In [1]:
#import
import pandas as pd
import numpy as np
import os
from datetime import datetime

# from __future__ import division
# from __future__ import print_function
# from __future__ import absolute_import

import warnings
import itertools

# import matplotlib
# import matplotlib.pyplot as plt

# import tensorflow as tf
# from sklearn.preprocessing import MinMaxScaler, minmax_scale, QuantileTransformer, RobustScaler, StandardScaler

# import sklearn.linear_model

# from sklearn.model_selection import train_test_split
# from sklearn.ensemble import IsolationForest

In [2]:
#define
SESSION_PATH = './sessions'
WELLNESS_PATH = './wellness'
PICKLE_PATH = './pickle/'
EXTRA_PATH = './extra/'
format = '%Y-%m-%d'

# #colonne da shiftare verso l'alto

# lista_colonne_workload = [
#     'workload-1',
#     'workload-2',
# #     'workload-3',
# #     'workload-4',
# #     'workload-5'
#                         ]
# lista_colonne_rpe = [
#     'rpe-1',
#     'rpe-2',
# #     'rpe-3',
# #     'rpe-4',
# #     'rpe-5'
# ]
# lista_colonne_Go_score = [
#     'Go_score-1',
#     'Go_score-2',
# #     'Go_score-3',
# #     'Go_score-4',
# #     'Go_score-5'
# ]

# ######################################
# lista_category = [
#     [lista_colonne_workload,'workload'],
#     [lista_colonne_rpe,'rpe'],
#     [lista_colonne_Go_score,'Go_score']
# ]
# ######################################
#colonne per DNN


#pesi per calcolare GO_Score

SLEEP_PAR = [0.1, 0.1, 0.5, 0.8, 1]
STRESS_PAR = [0.1, 0.1, 1, 1, 1]
FATIGUE_PAR = [0.1, 0.1, 0.5, 0.8, 1]
SORENESS_PAR = [0.1, 0.1, 0.5, 0.8, 1]
MOOD_PAR = [0.1, 0.1, 1, 1, 1]

In [3]:
def from_str_to_date(stringa):
    timestr = stringa.split(' ')[0]
    time = datetime.strptime(timestr, format)
    return time

def calcola_go(df):
    try:
        df['Go_score'] = SLEEP_PAR[int(df['wellness_sleep']) - 1] + STRESS_PAR[int(df['wellness_stress']) - 1] + FATIGUE_PAR[int(df['wellness_fatigue']) - 1] + SORENESS_PAR[int(df['wellness_soreness']) - 1] + MOOD_PAR[int(df['wellness_mood']) - 1]   
    except:
        pass
    return df

In [6]:
# importo csv associati a ogni player
list_files1 = os.listdir(PICKLE_PATH)
list_file = list_files1.copy()

# tolgo dalla lista dei files quelli non di player
for file in list_files1:
    if 'Player' not in file:
        list_file.remove(file)
    elif 'csv' in file:
        list_file.remove(file)

df_total = pd.DataFrame()
#per ogni file, creo e preparo il db da dare al DNN
for file in list_file:
    print(file)
    player = file.split('.')[0]
    globals()[player] = pd.read_pickle(PICKLE_PATH + file)
    
    #calcolo go score
    df_player = globals()[player].apply(calcola_go, axis=1)

    #drop delle colonne inutili
    df_player = df_player.drop(['wellness_fatigue','wellness_mood',
                                'wellness_sleep','wellness_soreness','wellness_stress','Work Ratio','rpeTl','duration'], axis=1)
    
    ######################################################################################################
#     #faccio le colonne shiftate
#     for category in lista_category:
#         i = 1
#         for column in category[0]:
#             df_player[column] = df_player[category[1]].shift(i)
#             i += 1

    
#     df_player = df_player.dropna(how='any')
    
    globals()[player] = df_player.copy()
    df_total = df_total.append(df_player, ignore_index=True)

#aggiungo la colonna mese e giorno x Evans
def calcola_mese(df):
    df['giorno'] = df['date'].day
    df['mese'] = df['date'].month
    return df

df_total = df_total.apply(calcola_mese,axis=1)

#rinomino la colonna Player Load
df_total.rename(columns={'Player Load': 'Player_Load'}, inplace=True)

#creo la colonna previsioni
lista_previsioni = ['Go_score']
for elem in lista_previsioni:
    df_total[elem + '+1'] = df_total[elem].shift(-1)

Player1.pickle
Player10.pickle
Player11.pickle
Player12.pickle
Player13.pickle
Player14.pickle
Player15.pickle
Player16.pickle
Player17.pickle
Player18.pickle
Player19.pickle
Player2.pickle
Player20.pickle
Player21.pickle
Player23.pickle
Player24.pickle
Player25.pickle
Player26.pickle
Player27.pickle
Player28.pickle
Player29.pickle
Player3.pickle
Player30.pickle
Player31.pickle
Player32.pickle
Player4.pickle
Player5.pickle
Player6.pickle
Player7.pickle
Player9.pickle

In [7]:
df_total.columns.values

array(['Go_score', 'Player_Load', 'cardioWorkload', 'date', 'exercises',
       'intensity', 'kinematicWorkload', 'mechanicalWorkload',
       'metabolicWorkload', 'perceivedWorkload', 'playerName', 'rpe',
       'workload', 'giorno', 'Go_score+1'], dtype=object)

In [8]:
df_total.to_csv(EXTRA_PATH + 'df_total.csv', sep=';')

In [9]:
df_total

,Go_score,Player_Load,cardioWorkload,date,exercises,intensity,kinematicWorkload,mechanicalWorkload,metabolicWorkload,perceivedWorkload,playerName,rpe,workload,giorno,Go_score+1
0,NaN,0.0000,0.0,2017-06-12,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player1,0.0,0.000000,12,NaN
1,NaN,0.0000,0.0,2017-06-13,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player1,0.0,0.000000,13,NaN
2,NaN,0.0000,0.0,2017-06-14,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player1,0.0,0.000000,14,NaN
3,NaN,0.0000,0.0,2017-06-15,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player1,0.0,0.000000,15,NaN
4,NaN,0.0000,0.0,2017-06-16,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player1,0.0,0.000000,16,NaN
5,NaN,193.5923,0.0,2017-06-17,"[Session, Warm-up, 11vs1]",29.797157,19.203077,31.121155,15.570078,11.682068,Player1,1.0,1.035671,17,NaN
6,NaN,133.8555,0.0,2017-06-18,"[Session, Intermittent-run]",38.570188,0.000000,45.167352,11.617813,9.678427,Player1,1.0,1.374996,18,NaN
7,NaN,635.2108,0.0,2017-06-19,"[Second-half-game, First-aerobic work, First-h...",99.647969,128.824042,231.139528,110.683430,143.667122,Player1,11.0,8.036559,19,NaN
8,NaN,419.9335,0.0,2017-06-20,"[Game-11vs11, Session, First-half, Second-half...",48.788046,47.006763,110.679258,40.272964,104.434869,Player1,7.0,4.107013,20,NaN
9,NaN,85.2790,0.0,2017-06-21,[Session],18.654375,0.000000,1.481508,0.000000,4.899257,Player1,0.5,0.180961,21,NaN
10,NaN,601.1195,0.0,2017-06-22,"[Session, Set-pieces, Hand-ball, Warm-up, Prep...",85.905878,61.845782,222.515110,79.841533,55.552028,Player1,4.0,6.295796,22,NaN
11,NaN,88.9135,0.0,2017-06-23,[Session],14.571046,0.000000,3.848155,0.000000,61.084783,Player1,6.0,2.163954,23,NaN
12,NaN,0.0000,0.0,2017-06-24,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player1,0.0,0.000000,24,NaN
13,NaN,645.2614,0.0,2017-06-25,"[First-intermittent, Second-game 9vs9, Possess...",100.957336,71.631861,271.165424,94.123048,71.596202,Player1,6.0,7.635591,25,NaN
14,NaN,327.1953,0.0,2017-06-26,"[Boxes-5vs2, Warm-up, 6vs8, Third-game, Tourna...",50.209906,35.927423,88.186316,30.927067,60.968210,Player1,5.0,2.930573,26,NaN
15,NaN,291.4747,0.0,2017-06-27,"[Agility, Preparation-to the, Session, 11vs1, ...",48.021124,34.955426,95.588460,35.794347,0.000000,Player1,0.0,3.114519,27,NaN
16,NaN,485.5267,0.0,2017-06-28,"[Boxes, Session, Set-pieces, 2nd.half, game, 1...",114.217509,73.638630,154.454584,67.398147,70.403176,Player1,6.5,4.932774,28,NaN
17,NaN,0.0000,0.0,2017-06-29,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player1,0.0,0.000000,29,NaN
18,NaN,271.3202,0.0,2017-06-30,"[Session, Preparation-to the, Set-pieces, Hand...",52.898918,32.792022,79.897537,33.615947,22.214868,Player1,2.0,2.382549,30,NaN
19,NaN,0.0000,0.0,2017-07-01,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player1,0.0,0.000000,1,NaN
20,NaN,0.0000,0.0,2017-07-02,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player1,0.0,0.000000,2,NaN
21,NaN,247.0496,0.0,2017-07-03,"[Warm-up, Session, Passing-drill squa, Defensi...",46.905330,25.887972,57.484684,24.452750,32.663662,Player1,3.0,1.877420,3,NaN
22,NaN,203.8980,0.0,2017-07-04,"[Warm-up, Agility, Session, Set-pieces, Prepar...",57.322453,23.220616,66.707899,24.191464,30.379841,Player1,3.0,2.015146,4,NaN
23,NaN,358.2167,0.0,2017-07-05,"[2nd.half, 1st.half, game]",90.757907,64.957681,139.671895,61.468397,76.044447,Player1,7.0,4.561309,5,NaN
24,NaN,0.0000,0.0,2017-07-06,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player1,0.0,0.000000,6,NaN
25,NaN,231.9323,0.0,2017-07-07,"[Offensive-combinat, Session, Intermittent-run...",52.951007,0.000000,83.952990,37.433356,32.639232,Player1,3.0,2.815830,7,NaN
26,NaN,0.0000,0.0,2017-07-08,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player1,0.0,0.000000,8,NaN
27,NaN,0.0000,0.0,2017-07-09,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player1,0.0,0.000000,9,NaN
28,NaN,297.1591,0.0,2017-07-10,"[Game-11vs11, 10vs10-conquer lin, Passing-dril...",66.436436,31.514937,83.676697,31.134204,42.965489,Player1,4.0,2.599321,10,4.4
29,4.4,281.6455,0.0,2017-07-11,"[Defensive-line, Session, Game-11vs11, Warm-up]",58.338323,35.311322,97.110060,41.255464,56.143754,Player1,5.0,3.115625,11,4.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9900,NaN,0.0000,0.0,2018-04-09,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,9,NaN
9901,NaN,0.0000,0.0,2018-04-10,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,10,NaN
9902,NaN,0.0000,0.0,2018-04-11,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,11,NaN
9903,NaN,0.0000,0.0,2018-04-12,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,12,NaN
9904,NaN,0.0000,0.0,2018-04-13,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,13,NaN
9905,NaN,0.0000,0.0,2018-04-14,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,14,NaN
9906,NaN,0.0000,0.0,2018-04-15,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,15,NaN
9907,NaN,0.0000,0.0,2018-04-16,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,16,NaN
9908,NaN,0.0000,0.0,2018-04-17,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,17,NaN
9909,NaN,0.0000,0.0,2018-04-18,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,18,NaN
9910,NaN,0.0000,0.0,2018-04-19,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,19,NaN
9911,NaN,0.0000,0.0,2018-04-20,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,20,NaN
9912,NaN,0.0000,0.0,2018-04-21,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,21,NaN
9913,NaN,0.0000,0.0,2018-04-22,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,22,NaN
9914,NaN,0.0000,0.0,2018-04-23,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,23,NaN
9915,NaN,0.0000,0.0,2018-04-24,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,24,NaN
9916,NaN,0.0000,0.0,2018-04-25,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,25,NaN
9917,NaN,0.0000,0.0,2018-04-26,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,26,NaN
9918,NaN,0.0000,0.0,2018-04-27,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,27,NaN
9919,NaN,0.0000,0.0,2018-04-28,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,28,NaN
9920,NaN,0.0000,0.0,2018-04-29,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,29,NaN
9921,NaN,0.0000,0.0,2018-04-30,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,30,NaN
9922,NaN,0.0000,0.0,2018-05-01,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,1,NaN
9923,NaN,0.0000,0.0,2018-05-02,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,2,NaN
9924,NaN,0.0000,0.0,2018-05-03,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,3,NaN
9925,NaN,0.0000,0.0,2018-05-04,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,4,NaN
9926,NaN,0.0000,0.0,2018-05-05,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,5,NaN
9927,NaN,0.0000,0.0,2018-05-06,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,6,NaN
9928,NaN,0.0000,0.0,2018-05-07,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,7,NaN
9929,NaN,0.0000,0.0,2018-05-08,0,0.000000,0.000000,0.000000,0.000000,0.000000,Player9,0.0,0.000000,8,NaN